<p>create-student works!</p>

<form [formGroup]="studentForm">
    <label>Name: </label> 
    <input type="text" formControlName="name">
    <br>
    <label>Gender:</label>
    <input type="radio" formControlName="gender" name="Gender">
    <label>Male</label>
    <input type="radio" formControlName="gender" name="Gender">
    <label>Female</label>
    <br>
    <label>Mobile:</label>
    <input type="number" formControlName="mobile">
    <br>
    <label>Email:</label>
    <input type="email" formControlName="email">
    <br>
    <label>Batch:</label>
    <input type="number" formControlName="batch">
     <br><br>
     <label>Address:</label>
     <br>
     <label>City:</label>
     <input type="text">
     <br>
     <label>Mandal:</label>
     <input type="text">
     <br>
     <label>District:</label>
     <input type="text">
     <br>
     <label>State:</label>
     <input type="text">
     <br>
     <label>Pincode:</label>
     <input type="number">
     <br>
    <button (click)="submit()">SUBMIT</button>

</form>

